@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Darker+Grotesque&display=swap');

/* CSS Reset - start */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration: none;
	color: inherit;
}

/* CSS Reset - end */

body {
    background: url(../images/cover_blackfilm.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000000;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4em;
}

#navico {
    position: fixed;
    top: 1em;
    left: 1em;
}

#nav {
    position: fixed;
    top: 2.5em;
    left: 3em;
    border-radius: 0.2em;
    border: rgba(0, 180, 255, 0.4) solid 0.5em;
    min-width: 11%;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    color: #fff;
    line-height: 1.5em;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

#navico:hover #nav {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

#nav ul {
    background: rgba(0, 0, 0, 0.5);
}

#nav li {
    width: 100%;
    font-family: 'Darker Grotesque';
    font-size: 1.5em;
    border: 0.0625em solid rgba(255, 255, 255, 0.1);
    line-height: 1.5em;
}

#nav li:hover {
    background: rgba(0, 0, 0, 0.1);
}

#nav a {
    color: #fff;
}

#nav .ico {
    height: 0.75em;
    padding: 0 0.5em;
}

#social {
    position: fixed;
    bottom: -4.2em;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 180, 255, 0.6);
    border-radius: 0.25em 0.25em 0 0;
    height: 3em;
    padding: 0.9em 2em;
    text-align: center;
    color: #fff;
    transition: all linear 0.25s;
}

#social:hover {
    bottom: 0;
    background: rgba(0, 180, 255, 0.8);
}

#social img {
    height: 3em;
    width: 3em;
    padding: 0 0.75em;
}

#social img:hover {
    opacity: 0.5;
}


#intro {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 0.25em 0.25em,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 0.03125em,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0.25em 0.28125em;
    background-size: 0.5em 0.5em;
}

#logo {
    font-size: 5em;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#logo span {
    color: rgba(0, 180, 255, 0.7);
    font-size: 0.4em;
    font-family: 'Darker Grotesque';
    display: block;
}

#intro #logreg {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 8em;
}

#intro #reg {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

#intro .button {
    border: 0.1em solid rgba(255, 255, 255, 0.8);
    border-radius: 0.4em;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.4em 1em;
    margin: 0.5em;
    font-family: 'Darker Grotesque';
    font-size: 1.3em;
}

#intro .button:hover {
    background: rgba(0, 180, 255, 0.5);
}

#about {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    background: #12181b;
}

#about .container {
    position: relative;
    left: 1em;
    top: 2em;
    background: rgba(0, 180, 255, 0.8);
    width: 45%;
    min-height: 45%;
    color: rgba(255, 255, 255, 0.9);
}

#about h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
}

#about p {
    text-align: justify;
    padding: 1.5em;
    font-size: 1.5em;
    font-family: 'Darker Grotesque';
}

#about .cont {
    position: relative;
    right: -50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 2em 0 4em 0;
}

#about .right {
    display: block;
    margin: 0.5em 1em;
    border-radius: 1em;
    color: #fff;
    padding: 0.5em 2em;
    font-family: 'Bebas Neue', sans-serif;
    transition: all 0.5s;
}

#about .right img {
    max-width: 3.5em;
    max-height: 3.5em;
    vertical-align: middle;
    padding: 0 4em 0 0;
}

#about .right span {
    display: block-inline;
    font-size: 0.4em;
}

#about .right .text {
    font-size: 4em;
}

#about .right:hover {
    opacity: 0.8;
    transition: all 0.5s;
}

#timeline {
    background: url(../images/collageBackground.jpg) center center fixed;
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
}

#timeline h1 {
    text-align: center;
    background: rgba(0, 180, 255, 0.7);
    width: 100%;
    line-height: 3em;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4em;
}

#timeline h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
}

#timeline h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25em;
}

#timeline h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1em;
}

#timeline p {
    text-align: justify;
    font-size: 1.25em;
    font-family: 'Darker Grotesque';
}

#timeline table {
    width: 100%;
}

#timeline tr {
    width: 100%;
}

#timeline td {
    width: 49.75%;
    color: #ffffff;
}

#timeline .middle {
    background: #ffffff;
    color: #000000;
    width: 1em;
}

#timeline .contentRight {
    background: rgba(0, 180, 255, 0.7);
    margin: 1em;
    padding: 1em;
    border-radius: 0 1em 1em 1em;
}

#timeline .contentLeft {
    background: rgba(0, 180, 255, 0.7);
    margin: 1em;
    padding: 1.5em;
    border-radius: 1em 0 1em 1em;
}

#timeline .miniGallery {
    text-align: center;
}

#timeline .thumbnail {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    object-fit: cover;
    display: inline-block;
}

#timeline iframe {
    display: block;
    margin: auto;
}

#timeline a {
    font-style: italic;
}



#footer {
    line-height: 2.5em;
    background: rgba(25, 25, 25, 0.5);
    background-size: 1em 1em;
}

#footer h2 {
    font-family: 'Bebas Neue', sans-serif;
    padding: 0 1em;
    font-size: 1.5em;
    float: right;
    color: rgba(255, 255, 255, 0.8);
}

#footer .left {
    padding: 0 1em;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-family: 'Darker Grotesque';
}

#footer .left a {
    text-decoration: none;
    color: #00b4ff;
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
    background: rgba(0, 108, 154, 0.8);
}

.lightbox:target {
    display: table;
    -webkit-animation: fadeInScale 1.2s ease-in-out;
    -moz-animation: fadeInScale 1.2s ease-in-out;
    -o-animation: fadeInScale 1.2s ease-in-out;
    -ms-animation: fadeInScale 1.2s ease-in-out;
    animation: fadeInScale 1.2s ease-in-out;
}

.lightbox img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
}

.close {
    position: fixed;
    float: left;
    font-weight: bold;
    font-size: 3em;
    padding: 1em;
    z-index: 999;
    color: #ffffff;
}